<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/layout/css/custom-style.css">
</head>

<body>
    <div class="sidenav">
        <img src="../../static/layout/srcs/logo.svg" alt="logo" class="logo"/>
        <a href="#" class="menu">HOME</a>
        <a href="#" class="menu">TOP 10</a>
        <a href="#" class="menu">관심 종목</a>
        <a href="#" class="menu">자산 관리</a>
        <div class="flex-container">
            <img src="../../static/layout/srcs/icons/user-logo.svg" alt="icon" class="flex-component"/>
            <a href="#" class="flex-component">Login</a>
        </div>
    </div>

</body>

</html>