<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="sidenav">
    <img src="layout/srcs/logo.svg" alt="logo" class="logo"/>
    <a href="#" class="menu">HOME</a>
    <a href="#" class="menu">TOP 10</a>
    <a href="#" class="menu">관심 종목</a>
    <a href="#" class="menu">자산 관리</a>
    <div class="flex-container">
        <img src="layout/srcs/icons/user-logo.svg" alt="icon" class="flex-component"/>
        <!-- 사용자 이름을 표시하고, 클릭 시 로그아웃 -->
        <a class="flex-component" href="javascript:void(0);" th:text="${#authentication.principal}"
           onclick="logout()" th:if="${#authorization.expression('isAuthenticated()')}"></a>

        <!-- 비로그인 시 로그인 버튼 표시 -->
        <a class="flex-component" href="/login" th:unless="${#authorization.expression('isAuthenticated()')}">
            Login
        </a>
    </div>
</div>
</body>
</html>
