<div class="sidenav" th:fragment="sidenav">
    <img src="/layout/srcs/logo.svg" alt="logo" class="logo" />
    <a href="#" class="menu">HOME</a>
    <a href="#" class="menu">TOP 10</a>
    <a href="#" class="menu">관심 종목</a>
    <a href="#" class="menu">자산 관리</a>
    <div class="flex-container">
        <img src="/layout/srcs/icons/user-logo.svg" alt="icon" class="flex-component" />
        <!-- 사용자 이름을 표시하고, 클릭 시 로그아웃 -->
        <a id="userName" class="flex-component" href="javascript:void(0);"
           th:text="${#authentication.principal.nickname}" onclick="myPage()"
           th:if="${#authorization.expression('isAuthenticated()')}"></a>

        <!-- 비로그인 시 로그인 버튼 표시 -->
        <a class="flex-component" href="/login" th:unless="${#authorization.expression('isAuthenticated()')}">
            Login
        </a>
        <input type="hidden" id="memberKey" th:value="${#authentication.principal.memberKey}"
               th:if="${#authorization.expression('isAuthenticated()')}" />
    </div>
</div>

<script th:fragment="logout-script">
    function myPage() {
        axios
        .get('/mypage')
        .then()
        .catch((error) => alert('마이페이지로 이동 중 오류가 발생했습니다.'));
    }
    function getCookie(cookieName) {
        let name = cookieName + '=';
        let decodedCookie = decodeURIComponent(document.cookie);
        let cookieArray = decodedCookie.split(';');
        for (let i = 0; i < cookieArray.length; i++) {
            let cookie = cookieArray[i].trim();
            if (cookie.indexOf(name) === 0) return cookie.substring(name.length);
        }
        return '';
    }

    document.addEventListener('DOMContentLoaded', function () {
        let accessToken = getCookie('Authorization');

        if (accessToken && accessToken.trim() !== '') {

        } else {
            alert('다시 로그인해주세요.');
            window.location.href = '/login';
        }
    });
</script>