.search-section-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            background-color: white;
            border-radius: 5px;
        }

        .filter-btn-group {
            display: inline-flex;
            background-color: #F7F7F7; /* 버튼 그룹의 배경색 */
            border-radius: 12px; /* 버튼 그룹의 둥근 모서리 */
            overflow: hidden;
            padding: 2px; /* 버튼과 그룹의 경계를 나누기 위한 패딩 */
        }

        .filter-btn-group button {
            border: none;
            padding: 5px 7px; /* 버튼 패딩 */
            font-family: "Pretendard-Regular";
            cursor: pointer;
            font-size: 15px;
            background-color: transparent; /* 기본적으로 투명한 배경 */
            color: black;
            margin: 0; /* 버튼 사이의 간격 제거 */
        }

        .filter-btn-group button.active {
            background-color: #3947b2;
            border-radius: 5px;
            color: white;
        }

        /* hover 시 활성화된 버튼과 같은 스타일 */
        .filter-btn-group button:hover {
            background-color: #3947b2;
            color: white;
            border-radius: 5px;
        }

        .results-table {
            width: 100%;
            border-collapse: collapse;
            margin: 10px;
            margin-top: 20px;
            overflow: hidden;
        }

        .results-table th,
        .results-table td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .results-table th {
            background-color: white;
            color: #315784;
            font-family: "Pretendard-Bold";
            text-align: left;
            padding: 15px 10px;
        }

        .results-table td {
            font-family: "Pretendard-Regular";
            color: black;
            padding: 6px;
        }

        .results-table td.up {
            color: #ea4335; /* 상승률 */
        }

        .results-table td.down {
            color: #4285f4; /* 하락률 */
        }

        .timestamp {
            font-family: "Pretendard-Regular";
            font-size: 13px;
            color: #828282;
            margin-left: 10px;
        }