@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../srcs/fonts/Pretendard-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../srcs/fonts/Pretendard-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard-SemiBold';
        src: url('../srcs/fonts/Pretendard-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../srcs/fonts/Pretendard-Medium.ttf') format('truetype');
}

.sidenav {
    height: 100%;
    width: 310px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3947B2;
    font-family: 'Pretendard-Regular';
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #4C59BA;
}

.logo{
    margin-top: 42px;
    margin-left: 42px;
    margin-bottom: 42px;
}

.menu{
    padding: 19px 42px;
}

.login{
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.user-icon{
    bottom: 0px;
    position: absolute;
}

.flex-container{
    bottom: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.3s;
}

.flex-container:hover {
    background-color: #4C59BA;
    cursor: pointer;
}

.flex-container img {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 42px;
}

.flex-container a {
    padding-left: 20px;
}

.main-content {
    margin-left: 410px;
    /* 사이드바 너비만큼 마진을 설정 */
    margin-right: 225px;
    /* padding: 20px; */
}

.content {
    height: 2000px;
    /* 스크롤 테스트를 위해 임시로 큰 높이를 설정 */
}

.search-group{
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.3s;
    margin-top: 42px;
    padding: 22px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.05);
}

.search-control{
    border-width: 0;
    width: 100%;
}

.search-control:focus {
    outline: none;
}

.search-control{
    margin-left: 20px;
}

.body{
    background-color: #F2F6FB;
}

input::placeholder{
    font-family: 'Pretendard-Regular';
    color: #315784;
    opacity: 0.5;
}

.title{
    font-family: 'Pretendard-Bold';
    color: #315784;
    margin: 20px 0px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat-box {
    background-color: white;
    padding: 20px 20px 10px 20px;
    width: 31%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-name{
    font-family: 'Pretendard-Bold';
}

.stat-value{
    font-family: 'Pretendard-Bold';
    font-size: 40px;
    color: #EA4335;
}

.stat-change{
    font-family: 'Pretendard-Medium';
    font-size: 16px;
    color: #EA4335;
}

.down-stat{
    color: #4285F4;
}

.section-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.left-section {
    flex: 3;
    padding-right: 20px;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 6px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td {
    font-family: 'Pretendard-Medium';
}

td.up {
    color: #EA4335;
    /* 상승률 */
}

td.down {
    color: #4285F4;
    /* 하락률 */
}

.assets-summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 30px;
    font-family: 'Pretendard-Medium';
    font-size: 15px;
    color: white;
    background-color: #3947B2;
}

.assets-summary p{
    margin:0;
}

.assets-summary .total-asset,
.assets-summary .available-asset {
    flex-grow: 1;
    
}

.stocks-table th,
.owned-stocks th {
    background-color: white;
    font-family: 'Pretendard-SemiBold';
    color: #315784;
}

.interest-stocks td,
.owned-stocks td {
    background-color: white;
}

.additional-value{
    font-size: 12px;
    color:#828282;
    margin: 0;
}

.flex-text-group{
    display: flex;
    justify-content: space-between;
}