@font-face {
  font-family: "Pretendard-Regular";
  src: url("../srcs/fonts/Pretendard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("../srcs/fonts/Pretendard-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("../srcs/fonts/Pretendard-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("../srcs/fonts/Pretendard-Medium.ttf") format("truetype");
}

.sidenav {
  height: 100%;
  width: 310px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3947b2;
  font-family: "Pretendard-Regular";
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #4c59ba;
}

.logo {
  margin-top: 42px;
  margin-left: 42px;
  margin-bottom: 42px;
}

.menu {
  padding: 19px 42px;
}

.login {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.user-icon {
  bottom: 0px;
  position: absolute;
}

.flex-container {
  bottom: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.3s;
}

.flex-container:hover {
  background-color: #4c59ba;
  cursor: pointer;
}

.flex-container img {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 42px;
}

.flex-container a {
  padding-left: 20px;
}

.main-content {
  margin-left: 410px;
  /* 사이드바 너비만큼 마진을 설정 */
  margin-right: 225px;
  /* padding: 20px; */
}

.content {
  height: 2000px;
  /* 스크롤 테스트를 위해 임시로 큰 높이를 설정 */
}

.search-group {
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.3s;
  margin-top: 42px;
  padding: 22px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.05);
}

.search-group button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-control {
  border-width: 0;
  width: 100%;
}

.search-control:focus {
  outline: none;
}

.search-control {
  margin-left: 20px;
}

.body {
  background-color: #f2f6fb;
  font-family: "Pretendard-Regular";
}

input::placeholder {
  font-family: "Pretendard-Regular";
  color: #315784;
  opacity: 0.5;
}

.title {
  font-family: "Pretendard-Bold";
  color: #315784;
  margin: 20px 0px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat-box {
  background-color: white;
  padding: 20px 20px 10px 20px;
  width: 31%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.div-white-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mini3-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 30px;
  width: 31%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.stat-name {
  font-family: "Pretendard-Bold";
}

.stat-value {
  font-family: "Pretendard-Bold";
  font-size: 40px;
  color: #ea4335;
}

.stat-change {
  font-family: "Pretendard-Medium";
  font-size: 16px;
  color: #ea4335;
}

.down-stat {
  color: #4285f4;
}

.section-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.left-section {
  flex: 3;
  padding-right: 20px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td {
  font-family: "Pretendard-Medium";
}

td.up {
  color: #ea4335;
  /* 상승률 */
}

td.down {
  color: #4285f4;
  /* 하락률 */
}

.assets-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 30px;
  font-family: "Pretendard-Medium";
  font-size: 15px;
  color: white;
  background-color: #3947b2;
}

.assets-summary p {
  margin: 0;
}

.assets-summary .total-asset,
.assets-summary .available-asset {
  flex-grow: 1;
}

.stocks-table th,
.owned-stocks th {
  background-color: white;
  font-family: "Pretendard-SemiBold";
  color: #315784;
}

.interest-stocks td,
.owned-stocks td {
  background-color: white;
}

.additional-value {
  font-size: 12px;
  color: #828282;
  margin: 0;
}

.flex-text-group {
  display: flex;
  justify-content: space-between;
}
.social-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.social-btn img {
  width: 450px;
}

.kakao-btn {
  background-color: #f2f6fb;
  color: #3c1e1e;
}

.naver-btn {
  background-color: #f2f6fb;
  color: white;
}

.google-btn {
  background-color: #f2f6fb;
  color: #333;
}

.separator {
  margin: 10px 0;
  color: #777;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.separator > hr {
  width: 180px;
}
.separator > span {
  margin: 0px 15px;
}

.login-text-content {
  margin-top: 200px;
  margin-bottom: 20px;
  width: 450px;
}

.login-text-content > h4 {
  font-family: "Pretendard-Bold";
  margin-bottom: 10px;
  color: #315784;
}

.profile-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 150px;
}

.profile-img {
  width: 150px;
}

.profile-picture {
  width: 15%;
}

.profile-info {
  width: 65%;
}

.ranking-profile-info {
  width: 70%;
  margin-top: 10px;
}

.profile-info > h2 {
  font-family: "Pretendard-Bold";
  color: #315784;
  font-size: 32px;
}

.profile-info > p {
  font-family: "Pretendard-Regular";
  font-size: 18px;
}

.modify-button {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-family: "Pretendard-Bold";
  margin-bottom: 5px;
}

.logout-button {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-family: "Pretendard-Bold";
  margin-top: 5px;
}

.reset-button {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #828282;
  color: white;
  width: 100%;
  font-family: "Pretendard-Bold";
  margin-top: 10px;
}

.mypage-have-stock {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Pretendard-Bold";
  color: #315784;
}

.mypage-left-section {
  flex: 4;
  padding-right: 20px;
}

.mypage-section {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mypage-section > h6 {
  font-family: "Pretendard-Bold";
  color: #315784;
  font-size: 18px;
}

.mypage-section > form {
  font-family: "Pretendard-Medium";
  font-size: 16px;
}

.mypage-section > form > p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.asset-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0rem;
}

.mypage-section > form > hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.logout-button-group {
  width: 15%;
}

.modal-background {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  z-index: 1000; /* 다른 요소들 위에 표시되도록 */
}

/* 모달 컨테이너 */
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 화면 가운데 정렬 */
  width: 400px; /* 모달의 적당한 너비 */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 닫기 버튼 */
.modal-close-button {
  float: right;
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #ff3030;
}

/* 입력 필드 */
.modal-input-group {
  margin-bottom: 10px;
}

.modal-input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-input-group input,
.modal-input-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* 저장 버튼 */
.modal-save-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-save-button:hover {
  background-color: #45a049;
}

.ranking-profile {
  width: 100px;
}

.middle-ranking-profile {
  width: 70px;
  margin: 0px 15px;
}

.other-rank-table td {
  padding: 20px 30px;
}

.rank-number {
  width: 5%;
}

.other-rank-profile {
  width: 10%;
}

.other-rank-asset {
  width: 70%;
}

.user-rank {
  padding-top: 10px;
}

.user-rank-number {
  padding-top: 10px;
  padding-left: 10px;
}

.user-rank-icon {
  padding-left: 5px;
}

.top1-icon {
  color: #fbbc05;
}

.top2-icon {
  color: #979797;
}

.top3-icon {
  color: #9f5a5a;
}
