<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulated Stock Investment</title>
    <link rel="stylesheet" href="../../static/layout/css/custom-style2.css" />
  </head>

  <body>
    <div class="main-content">
      <div class="left-section">
        <div class="section">
          <h2>관심 종목</h2>
          <table class="interest-stocks">
            <thead>
              <tr>
                <th>종목명</th>
                <th>현재가</th>
                <th>등락률</th>
                <th>시가총액</th>
                <th>거래량/거래대금</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>삼성전자</td>
                <td>79,600</td>
                <td class="up">+1.27%</td>
                <td>475조 1,947억원</td>
                <td>22,801,339<br />1조 8,023억원</td>
              </tr>
              <tr>
                <td>에코프로비엠</td>
                <td>200,500</td>
                <td class="down">-4.07%</td>
                <td>18조 4,500억원</td>
                <td>8,723,000<br />1조 2,003억원</td>
              </tr>
              <tr>
                <td>현대차</td>
                <td>268,000</td>
                <td class="down">-0.37%</td>
                <td>57조 2,000억원</td>
                <td>5,200,000<br />3,231억원</td>
              </tr>
              <tr>
                <td>에코프로</td>
                <td>99,400</td>
                <td class="down">-1.58%</td>
                <td>15조 9,000억원</td>
                <td>4,200,000<br />1,652억원</td>
              </tr>
              <tr>
                <td>HLB</td>
                <td>62,300</td>
                <td class="down">-2.04%</td>
                <td>5조 3,000억원</td>
                <td>3,100,000<br />925억원</td>
              </tr>
              <tr>
                <td>알테오젠</td>
                <td>265,000</td>
                <td class="down">-1.30%</td>
                <td>35조 2,000억원</td>
                <td>1,500,000<br />4,125억원</td>
              </tr>
              <tr>
                <td>두산에너빌리티</td>
                <td>19,660</td>
                <td class="up">+0.72%</td>
                <td>3조 1,000억원</td>
                <td>1,200,000<br />234억원</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="right-section">
        <div class="section assets-summary">
          <h3>총 자산</h3>
          <p class="total-asset">10,962,194 원</p>
          <h3>가용 자산</h3>
          <p class="available-asset">2,264,568 원</p>
        </div>
        <div class="section">
          <h2>보유 종목</h2>
          <table class="owned-stocks">
            <thead>
              <tr>
                <th>종목명</th>
                <th>현재가</th>
                <th>등락률</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>삼성전자</td>
                <td>79,600</td>
                <td class="up">+1.27%</td>
              </tr>
              <tr>
                <td>에코프로비엠</td>
                <td>200,500</td>
                <td class="down">-4.07%</td>
              </tr>
              <tr>
                <td>현대차</td>
                <td>268,000</td>
                <td class="down">-0.37%</td>
              </tr>
              <tr>
                <td>에코프로</td>
                <td>99,400</td>
                <td class="down">-1.58%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
