<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{common/header :: header}"></head>
<body class="body">
<div th:replace="~{common/sidebar :: sidebar}"></div>
<div class="main-content">
    <div class="social-buttons">
        <div class="login-text-content">
            <h4>회원가입하기</h4>
            <p>소셜 로그인으로 가입할 수 있습니다.</p>
        </div>
        <button class="social-btn kakao-btn">
            <img src="layout/srcs/icons/buttons/btn_kakao_login.svg" alt="Kakao Icon" />
        </button>
        <div class="separator">
            <hr />
            <span>또는</span>
            <hr />
        </div>
        <button class="social-btn naver-btn">
            <img src="layout/srcs/icons/buttons/btn_naver_login.svg" alt="Naver Icon" />
        </button>
        <button class="social-btn google-btn">
            <img src="layout/srcs/icons/buttons/btn_google_login.svg" alt="Google Icon" />
        </button>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">

    document.addEventListener('DOMContentLoaded', () => {
        // Add event listeners for each social login button
        const kakaoBtn = document.querySelector('.kakao-btn');
        const naverBtn = document.querySelector('.naver-btn');
        const googleBtn = document.querySelector('.google-btn');

        // Kakao login button
        kakaoBtn.addEventListener('click', () => {
            window.location.href = "/oauth2/authorization/kakao";
        });

        // Naver login button
        naverBtn.addEventListener('click', () => {
            window.location.href = "/oauth2/authorization/naver";
        });

        // Google login button
        googleBtn.addEventListener('click', () => {
            window.location.href = "/oauth2/authorization/google";
        });
    });

</script>
<script th:replace="~{common/sidebar :: sidebar-script}"></script>
</html>
